@import "./fonts.scss";
@import "./dropdown.scss";
@import "./checkboxes.scss";
@import "./counter.scss";

* {
  box-sizing: border-box;
}

html {
  font-family: "SF UI Display", sans-serif;
  font-weight: 400;
}

body {
  margin: 0;
}

.container {
  display: flex;
  flex-wrap: wrap;
  padding: 34px;
}

.item {
  width: calc( ( 100% - 68px ) / 3 );
  padding: 44px 30px 38px;
  margin: 0 0 20px;
  background-color: #f8fafc;
  border-radius: 25px;
  transition: box-shadow 0.3s;

  &:hover {
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
  }

  &:nth-child(3n - 1) {
    margin-left: 34px;
    margin-right: 34px;
  }

  &__top {
    display: flex;
    justify-content: space-between;
  }

  &__zoom {
    position: relative;
    width: 50%;
    border-radius: 25px;
    background-position: center;
    overflow: hidden;
    cursor: zoom-in;

    &--1 {
      background-image: url(../images/shampoo-1.jpg);
    }
    
    &--2 {
      background-image: url(../images/shampoo-2.jpg);
    }
    
    &--3 {
      background-image: url(../images/shampoo-3.jpg);
    }
  }

  &__title {
    text-align: center;
  }
  
  &__mid {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  &__color {
    width: 50%;
  }

  &__price {
    font-size: 18px;
    font-weight: 600;
  }

  &__radio {
    margin: 18px 0 0;
  }

  &__bottom {
    display: flex;
    justify-content: space-between;
  }
}

.state {
  width: 70px;
  height: 26px;
  text-transform: uppercase;
  text-align: center;
  line-height: 26px;
  color: #fff;
  background: linear-gradient(261.65deg, #efbb37 -3.95%, #cf9e1f 109.44%);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  border-radius: 30px;
}

.image {
  display: block;
  width: 100%;
  height: auto;
  border-radius: 25px;
  background-position: 50% 50%;
  transition: opacity 0.5s;
}

.image:hover {
  opacity: 0;
}

.bascket-icon {
  width: 46px;
  height: 46px;
  background: url("../images/icon/scales-icon.svg") #fff no-repeat center;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  border-radius: 30px;
  transition: box-shadow 0.3s;

  &:hover {
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
  }
}

.checked-icon {
  background: url("../images/icon/check.png") #fff no-repeat center !important;
}
